
h2 { 
  font-size: 25px;
  text-align: center;
} 

h1 { 
  text-align: center;
  font-size: 30px; 
}

h3 {
  font-size: 10px;
} 

body {
   background-color: black;
 }

   h1, h2, h3, h4, h5, h6, p, ul, ol, li {
            color: white;
        }
  label {
    color: white;
  }
  button {
    margin: auto;
  }

.btn {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
