.fixed-bottom-right {
  float: right;
  width: 200px;
  margin: 0 0 10px 10px;
}
h2 { 
  font-size: 25px;
  text-align: center;
} 

h1 { 
  text-align: center;
  font-size: 30px; 
}

h3 {
  font-size: 10px;
} 

body {
  background-color: black;
  margin: 0;
  padding: 0;
 }

   h1, h2, h3, h4, h5, h6, p, ul, ol, li {
            color: white;
        }
  label {
    color: white;
  }
  button {
    margin: auto;
  }

