.nav label,
.nav select,
.nav button {
  display: inline-block;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

h2 { 
  font-size: 25px; 
} 

h1 { 
  text-align: center;
  font-size: 30px; 
}

h3 {
  font-size: 10px;
} 

body {
   background-color: black;
 }

   h1, h2, h3, h4, h5, h6, p, ul, ol, li {
            color: white;
        }
  label {
    color: white;
  }
  button {
    margin: auto;
  }
